.pointer {
  cursor: pointer;
}

.order-list {
  border-right: solid 1px $darkGray;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.order-item {
  border-bottom: solid 1px $darkGray;
  padding: 1rem;
  font-size: .8rem;

  &:hover {
    background-color: $white;
  }

  p {
    margin: 0;
  }
}

.small-line-height {
  line-height: .75;
}