$main: #79a9e7;

.main-background {
  width: 100%;
  min-height: 100vh;
  background-color: $main;
}

.center-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-form {
  background-color: #fff;
}

.pointer {
  cursor: pointer;
}

.responsive-form {
  @media screen and (min-width: 600px) {
    width: 400px;
    border-radius: .25rem;
  }

  @media screen and (max-width: 599px) {
    width: 100%;
    height: 100%;
  }
}